{% extends "base_generic.html" %}
{% block content %}


<!-- extenssion of the home page to display the disliked Nerby Shops list (disliked_list) by distance from the User location, and the button to remove shop from disliked list by calling change_disliked with operation 'remove' -->





     {% if user.is_authenticated %}
        {% if disliked_list %}
          {% for shop in disliked_list %}
          <div class="dis_container">
            <li>
                {% load staticfiles %}
                {{shop.name}}<br>
                <img src="{{shop.shop_pic}}" width ="240">
              <a href="{% url 'change_disliked' operation='remove' id=shop.id %}">
                <button id="remove_button" type="button" class="btn btn-danger">Remove</button>
              </a>
            </li>
          </div>
          {% endfor %}
        {% else %}
            <p>There are no shops in the disliked shops.</p>

        {% endif %}

     {% else %}
           <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
           <li><a  href="{% url 'signup'%}?next={{request.path}}">Signup</a></li>
     {% endif %}

{% endblock %}
