{% extends "base_generic.html" %}

{% block content %}
     {% if user.is_authenticated %}
                 <h1><em><font color="Green1"><b>Disliked Shops</b></font></em></h1>
        {% if disliked_list %}
          {% for shop in disliked_list %}
            <li>
                {% load staticfiles %}
                <a>{{shop.name}}</a>
            </li>
            <li>
                <a><img src="{{shop.shop_pic}}"></a> <a> ({{shop.email}})</a>
            </li>
              <a href="{% url 'change_disliked' operation='remove' id=shop.id %}">
                <button type="button" class="btn btn-danger">Remove</button>
              </a>
          {% endfor %}
        {% else %}
            <p>There are no shops in the disliked shops.</p>

        {% endif %}

     {% else %}
           <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
           <li><a  href="{% url 'signup'%}?next={{request.path}}">Signup</a></li>
     {% endif %}

{% endblock %}
