{% extends "base_generic.html" %}
{% block content %}


<!-- extenssion of the home page to display the ordred Nerby Shops list (shop_order) by distance from the User location and don't display the preferred_list of Shops, the button to add shop to  preferred_list by calling change_preferred with operation 'add', and the button to add shop to disliked_list by calling change_disliked with operation 'add'  -->


   <title> Local Shops </title>
     {% if shop_order %}
      <ul>
      {% for shop in shop_order %}
        {% if not shop in preferred_list %}
        <div class="container">
         <li>
          {% load staticfiles %}
          {{shop.name}}<br>
          <img src="{{shop.shop_pic}}" width ="240">
          <a href="{% url 'change_preferred' operation='add' id=shop.id %}">
          <button id="like_button" type="like" class="btn btn-success">Like</button>
          </a>
          <a href="{% url 'change_disliked' operation='add' id=shop.id %}">
          <button id="dislike_button" type="Dislike" class="btn btn-danger">Dislike</button>
          </a>
         </li>
        </div>
        {% endif%}
      {% endfor %}
     </ul>
    {% else %}
      <p>There are no shops in the catalog.</p>
    {% endif %}
{% endblock %}
